<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="../styles/index.css">
</head>

<body>
    <iframe class="code-editor-frame" loading="lazy"
        src="http://jj.bytedance.net:8080/pen/7161626268318842924?embed=true"></iframe>
    <iframe class="code-editor-frame" loading="lazy"
        src="http://jj.bytedance.net:8080/pen/7161626268318842924?embed=true"></iframe>
    <iframe class="code-editor-frame" loading="lazy"
        src="http://jj.bytedance.net:8080/pen/7161626268318842924?embed=true"></iframe>
    <iframe class="code-editor-frame" loading="lazy"
        src="http://jj.bytedance.net:8080/pen/7161626268318842924?embed=true"></iframe>
    <iframe class="code-editor-frame" loading="lazy"
        src="http://jj.bytedance.net:8080/pen/7161626268318842924?embed=true"></iframe>
    <iframe class="code-editor-frame" loading="lazy"
        src="http://jj.bytedance.net:8080/pen/7161626268318842924?embed=true"></iframe>
</body>

</html>
